.modalHeader {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .tab {
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
  }
  .activeTab {
    border-bottom: 2px solid #000; /* Highlight active tab */
  }
  .modalBody {
    margin-top: 10px;
  }
  .modalFooter {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }